// Colors
ctaGreen = #00A551
ediGreen = #149775
greenOverlay = #0e473f
lightGrey = #F2F2F2
darkGrey = #2C2D2D
lightBlue = #b9e2e0
ediYellow = #b9d856


// Fonts
primaryFont = 'futura-pt',sans-serif
headerFont = 'futura-pt',sans-serif
base-font-size = 20px
base-line-height = 1.25
base-font-weight = 400


// Containers
container-width = 1200px
.container
  margin: 0 auto
  max-width: container-width
  padding: 0 20px
  @media breakpoints.palm.breakpoint
    padding: 0 10px
