.button
  color: #FFFFFF
  text-align: center
  cursor: pointer
  transition: all 0.2s ease-in-out
  padding: 8px 30px
  display: inline-block
  text-decoration: none
  border-radius: 50px
  font-size: 18px
  line-height: 1.2
  font-weight: 600
  @media breakpoints.palm.breakpoint
    font-size: 16px

.button--icon
  background-color: ctaGreen
  &:hover
    background-color: lighten(ctaGreen, 5)

.button--yellow
  border: 2px solid ediYellow
  background-color: transparent
  color: ediYellow
  &:hover
    background-color: ediYellow
    color: #FFFFFF

.button--ctaGreen
  border: 2px solid ctaGreen
  background-color: transparent
  color: ctaGreen
  &:hover
    background-color: ctaGreen
    color: #FFFFFF

.button--ctaSolidGreen
  border: 2px solid ctaGreen
  background-color: ctaGreen
  color: #FFFFFF
  &:hover
    background-color: lighten(ctaGreen, 5)
    border: 2px solid lighten(ctaGreen, 5)