.footerLogo img
  max-height: 24px
  width: auto
  @media breakpoints.palm.breakpoint
    margin-bottom: 15px

.footer
  background-color: darkGrey

.footerInfo
  padding: 30px 0
  border-bottom: 1px solid rgba(162,163,162,0.5)
  .footerText
    color: #a2a3a2
    font-size: 14px
  a
    color: #FFFFFF
    font-size: 14px
    text-decoration: none
    &:hover
      text-decoration: underline

.footerCertifications
  padding: 30px 0 90px

.footerCertification
  display: inline-block
  margin-right: 20px
  img
    max-height: 35px
    width: auto
    // filter: grayscale(50%)

.footerLegal
  overflow: auto
  padding: 30px 0

.copyright
  // float: right
  color: #a2a3a2
  font-size: 14px