.section.team
  padding: 0 0 50px
  .container
    max-width: 800px

.aboutTeam
  margin-bottom: 40px
  text-align: center

.aboutTeam > .icon
  font-size: 80px
  color: uxBlue
  margin-bottom: 20px

.aboutTeam-headline
  @extend h3
  font-weight: 600
  color: uxBlue
  margin-bottom: 40px

.leadPhoto img
  display: inline-block
  max-width: 100%
  height: auto
  margin-bottom: 10px

.leadName
  font-size: 18px
  margin-bottom: 4px

.leadInfo
  margin-top: 15px
  a
    color: uxText
    &:hover
      color: lighten(uxText, 10)
  span:first-child
    margin-right: 10px
  span:last-child
    margin-left: 10px
  @media breakpoints.palm.breakpoint
    span:first-child, span:last-child
      margin-right: 0
      margin-left: 0

.aboutText p
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0

.hero--careers
  .heroContent
    padding: 60px 0
    @media breakpoints.large.breakpoint
      padding: 110px 0
    @media breakpoints.desk.breakpoint
      padding: 160px 0
  .heroHeadline
    font-size: 26px
    margin-bottom: 20px
    @media breakpoints.large.breakpoint
      font-size: 32px
      max-width: 460px
      margin: 0 auto 20px
    @media breakpoints.desk.breakpoint
      font-size: 38px
      margin: 0 auto 30px

.leadInfo
  a
    color: uxLightBlue
