.button
  color: #FFFFFF
  text-align: center
  cursor: pointer
  transition: all 0.2s ease-in-out
  padding: 10px 16px
  display: inline-block
  text-decoration: none
  border-radius: 3px
  font-size: 18px
  line-height: 1.2
  font-weight: 400
  background-color: uxGold
  border: 1px solid darken(uxGold, 5)
  min-width: 180px
  &:hover
    background-color: darken(uxGold, 5)

.button--secondary
  border: 3px solid uxGold
  background-color: transparent
  color: uxGold
  &:hover
    background-color: uxGold
    color: #FFFFFF

.button--white
  border: 3px solid #FFFFFF
  background-color: transparent
  color: #FFFFFF
  &:hover
    background-color: #FFFFFF
    color: uxBlue
