.section.careersSection
  padding: 0 0 50px
  .iconBullet
    margin-bottom: 0

.careersContainer
  display: table
  margin: 0 auto

.openCareer
  display: table-cell
  border-bottom: 1px solid #CCCCCC
  text-align: center
  padding: 20px 0
  a
    display: inline-block
    font-size: 20px

.careersContainer .u-tableRow:last-child .openCareer
  border-bottom: 0
  padding: 20px 0 0
