.section.clientTiles
  padding: 0 0 50px
  margin-top: 30px

.grid .grid-1of1--palm.grid-1of3:last-child .clientTile
  margin-bottom: 0

.clientTile
  text-align: center
  background: #e7e8e9
  border-radius: 15px
  margin-bottom: 30px
  width: 100%
  height: 100%
  display: table

.clientTile-top
  height: 100%
  background-color: #e7e8e9
  display: table-row
  border-radius: 15px 15px 0 0

.clientTile-topContainer
  padding: 35px 20px
  display: table-cell
  vertical-align: middle
  border-radius: 15px 15px 0 0

.clientTile--noCase
  border-radius: 15px
  .clientTile-topContainer
    border-radius: 15px

.clientTile-logo
  max-height: 90px
  max-width: 85%
  width: auto
  height: auto
  margin: 0 auto 10px

.clientTile-text
  color: uxText
  font-weight: 600
  font-size: 14px

.clientTile-bottomContainer
  padding: 8px 20px
  border-radius: 0 0 15px 15px
  display: table-cell
  vertical-align: middle

.clientTile-bottom
  background-color: uxBlue
  text-align: center
  display: table-row
  height: 1px
  border-radius: 0 0 15px 15px
  a
    display: inline-block
    color: #FFFFFF
    text-align: center
    font-size: 14px
    font-weight: 600
    &:hover
      opacity: 0.8
    span, i
      display: inline-block
      vertical-align: middle

  .icon
    color: #FFFFFF
    margin-left: 3px
    font-size: 20px

.clientTile-logoText
  font-size: 52px
  font-weight: 600
  margin-bottom: 10px
  color: uxBlue
