.section.clientLogos
  background-color: uxGrey
  padding: 50px 0 20px
  .grid
    text-align: center

.clientLogosHeadline
  @extend h2
  margin-bottom: 40px

.clientLogos-logo
  max-height: 60px
  max-width: 150px
  width: auto
  height: auto
  filter: grayscale(100%)
  margin-bottom: 30px

.clientLogos-logoWrapper
  transition: opacity 0.6s ease-in-out
  opacity: 1
  &.hidden
    opacity: 0
