.section.contactDetails
  padding: 0 0 50px

.detailsContainer
  padding: 30px 20px
  text-align: center
  background-color: uxGrey
  border: 1px solid #DEDEDE
  border-radius: 3px

.detailsTable
  display: table
  margin: 0 auto

.detailsTable-row
  display: table-row
  > *
    vertical-align: middle

.first
  display: table-cell
  vertical-align: middle
  width: 0
  padding-right: 15px
  padding-bottom: 20px
  .icon
    display: inline-block
    font-size: 20px
    color: uxRed
    &.icon-email
      font-size: 17px
.second
  font-size: 22px
  text-align: left
  padding-bottom: 20px

.lastRow
  padding-bottom: 0
