.section.contactForm
  background-color: uxBlue

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok
  border: 2px solid uxGold
  border-radius: 3px
  color: #FFFFFF
  padding: 15px
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin: 2em auto 1em

span.wpcf7-not-valid-tip
  margin-bottom: 15px
  color: uxRed !important
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin: 0 auto 25px
    text-align: left

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors
  border: 2px solid uxRed
  border-radius: 3px
  color: #FFFFFF
  padding: 15px
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin: 2em auto 1em
