.section.footer
  background-color: uxText
  padding: 25px 15px
  text-align: center
  a
    color: #D8A629
    &:hover
      opacity: 0.9

.footerPhone
  font-weight: 700
  margin-bottom: 8px
  color: #FFFFFF

.footerAddress, .footerSocial
  margin-bottom: 25px
  color: #FFFFFF

.footerSocial .icon
  margin: 0 20px
  color: #FFFFFF
  font-size: 40px
  &:hover
    darken(#FFFFFF, 10)

.footerLegal
  font-size: 13px
  color: #FFFFFF
  a
    color: #FFFFFF
    &:hover
      opacity: 0.9
