.section.footer
  background-color: #e7e8e8
  padding: 25px 15px
  text-align: center
  a
    color: uxText
    &:hover
      color: uxGold

.footerPhone, .footerName, .footerAddress, .footerLegal
  font-weight: 600
  margin-bottom: 8px
  color: uxText
  a
    color: uxText !important
    &:hover
      color: uxGold !important

.footerName, .footerPhone, .footerAddress
  display: inline-block
  margin: 8px

.footerPhone, .footerSocial
  margin-bottom: 25px
  color: uxText

.footerSocial .icon
  margin: 0 15px
  color: uxText
  font-size: 40px
  &:hover
    darken(uxText, 10)

.footerLegal
  color: uxText
  a
    color: uxText
    &:hover
      color: uxGold
