.formLabel
  font-size: 16px
  color: #FFFFFF
  margin-bottom: 5px
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin: 0 auto 10px
    text-align: left
  .required
    color: uxGold

select
  box-sizing: border-box
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: 1px solid #FFFFFF
  border-radius: 2px
  background: rgba(255,255,255,0.3)
  padding: 13px 15px
  transition: all 0.2s ease-in-out
  margin: 0
  margin-bottom: 15px
  font-family: primaryFont
  font-size: 16px
  outline: 0
  width: 100%
  color: #FFFFFF
  box-shadow: none
  background-image: none
  position: relative
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin-bottom: 25px
  &:focus
    outline: none

.your-interest
  &:after
    content: "\e919"
    font-family: icomoon
    font-weight: normal;
    font-style: normal;
    font-size: 12px
    position: absolute
    right: 15px
    top: 3px
    color: #FFFFFF
    pointer-events: none
input, textarea
  box-sizing: border-box
  -webkit-appearance: none
  border: 1px solid #FFFFFF
  border-radius: 2px
  background: rgba(255,255,255,0.3)
  padding: 13px 15px
  transition: all 0.2s ease-in-out
  margin: 0
  margin-bottom: 15px
  font-family: primaryFont
  font-size: 16px
  outline: 0
  width: 100%
  color: #FFFFFF
  @media breakpoints.large.breakpoint
    max-width: 500px
    margin-bottom: 25px

  &:focus, &:active
    outline: 0

textarea
  height: 160px

input[type=submit]
  width: auto

