.section.hero
  text-align: center
  padding: 0

.heroContent
  display: table-cell
  vertical-align: middle
  padding: 115px 0 75px
  height: 100%
  @media breakpoints.large.breakpoint
    padding: 165px 0 125px
  @media breakpoints.desk.breakpoint
    padding: 195px 0 155px

.heroLogo img
  max-height: 60px
  max-width: 80%
  height: auto
  width: auto
  filter: brightness(0) invert(1)
  margin-bottom: 10px

.heroText
  color: #FFFFFF

.heroOrientation
  font-size: 20px
  color: #FFFFFF
  font-weight: 600
  margin-bottom: 5px
  @media breakpoints.large.breakpoint
    font-size: 25px

.heroHeadline
  @extend h1
  color: #FFFFFF
  @media breakpoints.large.breakpoint
    max-width: 440px
    margin: 0 auto

.postid-149 .heroLogo img
  filter: none none
