.section.introText, .section.intro
  .container
    max-width: 800px
  p
    margin-bottom: 15px
  p:last-child
    margin-bottom: 0

.section.intro--contact
  font-size: 20px
  text-align: center
  @media breakpoints.large.breakpoint
    text-align: left

