.page-template-page-legal
  h2, h3
    text-align: left
    margin-bottom: 15px
  h2
    font-weight: 400
    margin-bottom: 0
  p
    margin-bottom: 15px
  .primaryNav
    background-image: none
    background-color: rgba(4,30,65,0.95)
    .navLogo img
      filter: none
    .navigation-list > li:last-child a
      @extend .button
      font-size: 14px

.legalTitle
  @extend h1
  margin: 60px 0 30px

.container--legal
  max-width: 850px
