.ngdialog.ngdialog-theme-default
  padding-top: 20px
  padding-bottom: 0
  @media breakpoints.palm.breakpoint
    padding-top: 10px
  .ngdialog-content
    font-family: primaryFont
    font-size: base-font-size
    line-height: base-line-height
    width: 60%
    padding: 0
    border-radius: 0
    @media breakpoints.large.breakpoint
      width: 90%
    @media breakpoints.palm.breakpoint
      width: 98%
