.section.projectDetails
  padding: 0

.projectDetailsContainer
  padding: 20px 20px 10px
  background-color: uxGrey
  border: 1px solid darken(uxGrey, 10)
  border-radius: 3px

.projectType
  margin-bottom: 20px

.projectService
  padding: 5px 10px
  font-size: 14px
  color: uxLightBlue
  border: 2px solid uxLightBlue
  border-radius: 5px
  display: inline-block
  margin-right: 10px
  margin-bottom: 10px
  cursor: pointer
  &:hover
    background-color: uxLightBlue
    color: #FFFFFF
