.bgImage
  height: 100%
  position: relative
  background-repeat: no-repeat
  background-position: top center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.blueOverlay
  background-color: rgba(4,30,65,0.4)
