.section.services
  padding: 75px 0
  text-align: center
  .service
    margin-bottom: 75px
  .grid .grid-1of3:last-child .service
    margin-bottom: 0

.service .icon
  font-size: 80px
  color: uxBlue
  margin-bottom: 20px

.service-headline
  @extend h3
  font-weight: 700
  color: uxBlue
  margin-bottom: 20px

.service-text
  margin-bottom: 20px
