.section.solutionsTabs
  padding: 50px 0 0

.section.solutionsIntro
  padding: 0
  .container
    max-width: 690px
    p
      max-width: 690px
  .iconBullet
    margin-bottom: 0
    .combo:last-child
      margin-bottom: 0
  p
    margin-bottom: 15px

.button--solutionsCta
  margin: 40px auto 50px
  @media breakpoints.large.breakpoint
    margin: 40px auto 80px

.section.solutionService
  padding: 0 0 80px
  .container
    max-width: 690px
  @media breakpoints.large.breakpoint
    padding: 0 0 125px
  .service
    text-align: center
    .service-text
      text-align: left
      margin-bottom: 30px
      @media breakpoints.large.breakpoint
        max-width: 690px

.projectServicesContainer
  margin-bottom: 50px
  @media breakpoints.large.breakpoint
    max-width: 690px

.benefitsTitle, .caseStudyTitle
  font-weight: 600
  color: uxBlue
  font-size: 18px
  margin-bottom: 20px

.benefitsContainer
  margin-bottom: 50px
  @media breakpoints.large.breakpoint
    max-width: 690px

.grid--solutions
  text-align: left
