.section.solutionsTabs
  padding: 50px 0 0

.section.solutionsIntro
  padding: 0
  .combo
    margin-bottom: 0
  p
    margin-bottom: 15px

.button--solutionsCta
  margin: 40px auto 50px

.section.solutionService
  padding: 0 0 80px
  .service
    text-align: center
    .service-text
      text-align: left
      margin-bottom: 30px

.projectServicesContainer
  margin-bottom: 50px

.benefitsTitle, .caseStudyTitle
  font-weight: 700
  color: uxBlue
  font-size: 18px
  margin-bottom: 20px

.benefitsContainer
  margin-bottom: 50px

.grid--solutions
  text-align: center
