.ux-tabs
  text-align: center
  ul
    @extend .plainList
    border: 3px solid uxRed
    display: table
    border-radius: 3px
    margin: 0 auto 10px
    li
      padding: 10px
      text-align: center
      min-width: 115px
      color: uxRed
      font-size: 14px
      font-weight: 600
      transition: all 0.2s ease-in-out
      display: table-cell
      border-right: 3px solid uxRed
      cursor: pointer
      &:last-child
        border-right: 0
      &.active
        background-color: uxRed
        color: #FFFFFF
      &:hover
        background-color: uxRed
        color: #FFFFFF

.ux-tabs--solutions ul
  margin: 0 auto 30px

.ux-tabs .industryTabs
  @extend .plainList
  border: 0
  width: 100%
  .uxTab--secondary
    color: uxText
    font-size: 12px
    margin: 0 5px 10px
    padding: 8px 10px
    border: 2px solid uxText
    min-width: 0
    display: inline-block
    width: auto
    border-radius: 3px
    &.active
      background-color: uxText
      color: #FFFFFF
    &:hover
      background-color: uxText
      color: #FFFFFF

.uxTab
  width: 170px
  @media breakpoints.palm.breakpoint
    width: 115px
