.section.testimonials
  padding: 0
  background-color: uxBlue
  padding: 25px 0
  .grid
    text-align: center

.testimonials .bgImage
  border-top-left-radius: 3px
  border-top-right-radius: 3px

.testimonialsContainer
  border-radius: 3px
  background-color: #FFFFFF
  margin-bottom: 30px

.testimonialsTop
  .combo
    min-height: 150px
  .combo-last
    vertical-align: bottom
    .testimonialHeadshot
      max-height: 150px
      margin-top: 10px
      width: auto
      display: block


.testLogoText
  color: #FFFFFF
  font-size: 42px
  text-align: center
  font-weight: 600
  margin: 10px 0
  line-height: 1.2

.testimonialsBottom
  padding: 20px 10px
  text-align: center

.theTestimonial
  font-style: italic
  margin-bottom: 15px

.testimonial-name
  font-size: 14px
  font-weight: 600

.testimonial-title, .testimonial-company
  font-size: 14px

.testimonialLogo
  text-align: center
  img
    max-height: 60px
    max-width: 150px
    width: auto
    height: auto
