html, body, p
  font-family: primaryFont
  font-size: base-font-size
  line-height: base-line-height
  font-weight: base-font-weight
  color: darkGrey

h1, h2, h3, h4, h5, h6
  font-family: headerFont
  margin: 0

a
  text-decoration: none
  transition: all 0.2s ease-in-out

// typekit flicker
.wf-loading *
  visibility: hidden

.wf-active *
  visibility: visible
