html, body, p
  font-family: primaryFont
  font-size: base-font-size
  line-height: base-line-height
  font-weight: base-font-weight
  color: uxText

h1, h2, h3, h4, h5, h6
  font-family: headerFont
  margin: 0

h1
  font-weight: 600
  font-size: 30px
  line-height: 1.33
  @media breakpoints.large.breakpoint
    font-size: 36px
  @media breakpoints.desk.breakpoint
    font-size: 42px

h2
  font-weight: 600
  font-size: 26px
  color: uxBlue
  text-align: center
  @media breakpoints.large.breakpoint
    font-size: 32px
  @media breakpoints.desk.breakpoint
    font-size: 38px

h3
  font-size: 20px
  font-weight: 300
  line-height: 1.5
  @media breakpoints.large.breakpoint
    font-size: 26px
  @media breakpoints.desk.breakpoint
    font-size: 32px

p
  line-height: 1.625
  margin: 0

a
  text-decoration: none
  transition: all 0.2s ease-in-out
  color: uxLightBlue
  &:hover
    color: darken(uxLightBlue, 10)

// typekit flicker
.wf-loading *
  visibility: hidden

.wf-active *
  visibility: visible

img
  max-width: 100%
  height: auto
