.u-alignLeft
  text-align: left

.u-inline
  display: inline-block

.u-noScroll
  overflow: hidden

.plainList
  margin: 0
  padding: 0
  list-style-type: none
  li
    margin: 0
    padding: 0

.u-noMobile
  @media breakpoints.palm.breakpoint
    display: none

.u-noMobileEdi
  @media screen and (max-width: 760px)
    display: none

.u-spacer
  margin-top: 8px

.u-bottom5
  margin-bottom: 5px

.u-bottom15
  margin-bottom: 15px

.u-semiBold
  font-weight: 600
