// Colors
uxBlue = #041E41
uxGold = #D8A629
uxRed = #CF4747
uxLightBlue = #084CA6
uxText = #333333
uxGrey = #F8F8F8


// Fonts
primaryFont = 'soleil',sans-serif
headerFont = 'soleil',sans-serif
base-font-size = 16px
base-line-height = 1.25
base-font-weight = 400


// Containers
container-width = 1200px
.container
  margin: 0 auto
  max-width: container-width
  padding: 0 20px
  @media breakpoints.palm.breakpoint
    padding: 0 15px
